


.container{

 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 min-height: 100vh;
 border: 1px solid red;   
    .wrapper{
        
        width: 15rem ;
        height: 20rem;
    background-color: white;
    margin: 1rem;
    flex-wrap: wrap;
}
}