.admin{
    width: 100%;
    min-height: 100vh;
    border: 1px solid red;
    
}

.footer_container__UNIu_{
    display: none;
}

.footer_container__UNIu_ .footer_lower_wrapper__xRGPs{
    display: none;
}